md-dialog(aria-label="filter dialog")
    form(ng-cloak)
        md-toolbar
            div(class="md-toolbar-tools")
                h2 Follow Ups Filter

        md-dialog-content
            div(class="md-dialog-content", layout="column")
                md-input-container(md-no-float, class="md-block")
                    md-icon search
                    input(ng-model="search", type="text" placeholder="Search")

        md-dialog-actions(layout="row")
            span(flex)
            md-button Filter