md-dialog(aria-label="filter dialog")
    form(ng-cloak)
        md-toolbar(class="topBar")
            div(class="md-toolbar-tools")
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.back()")
                    md-icon chevron_left
                h2 Follow Ups Filter
                div(flex)
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.close()")
                    md-icon close
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.done()")
                    md-icon check

        md-dialog-content
            div(class="md-dialog-content", layout="column")
                div(layout="row", layout-align="start center")
                    div(flex)
                        md-checkbox(ng-model="data.filter.ftv" aria-label="FTV") FTV
                    div(flex)
                        md-checkbox(ng-model="data.filter.decision" aria-label="Decision") Keputusan

                md-input-container(md-no-float)
                    md-icon search
                    input(ng-model="data.filter.search", type="text" placeholder="Search")


                div(layout="row", layout-align="start center")
                    div(flex)
                        md-checkbox(ng-model="data.filter.noCarecells", class="md-primary", aria-label="Tiada Carecell") Tiada Carecell
                    div(flex)
                        md-checkbox(ng-model="data.filter.allCarecells", class="md-primary", aria-label="Semua Carecell") Semua Carecell

                md-input-container(ng-show="!data.filter.allCarecells")
                    label Carecell
                    md-select(ng-model="data.filter.carecells", multiple="true")
                        md-option(ng-value="carecell._id", ng-repeat="carecell in data.carecells") {{carecell.name}}

                div(layout="row", layout-align="start center", class="marginT24", ng-show="show.sps")
                    div(flex)
                        md-checkbox(ng-model="data.filter.noSPs", class="md-primary", aria-label="Tiada SP") Tiada SP
                    div(flex)
                        md-checkbox(ng-model="data.filter.allSPs", class="md-primary", aria-label="Semua SP") Semua SP

                md-input-container(ng-show="!data.filter.allSPs && show.sps")
                    label SP
                    md-select(ng-model="data.filter.sps")
                        md-option(ng-value="sp._id", ng-repeat="sp in data.sps") {{sp.name}}

                div {{show.sps}}
