md-dialog(aria-label="filter dialog")
    form(ng-cloak)
        md-toolbar(class="topBar")
            div(class="md-toolbar-tools")
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.back()")
                    md-icon chevron_left
                h2 Follow Ups Filter
                div(flex)
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.close()")
                    md-icon close
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.done()")
                    md-icon check

        md-dialog-content
            div(class="md-dialog-content", layout="column")
                div(layout="row", layout-align="start center", class="marginB20")
                    div(flex)
                        md-checkbox(ng-model="data.filter.ftv" aria-label="FTV") FTV
                    div(flex)
                        md-checkbox(ng-model="data.filter.decision" aria-label="Decision") Keputusan

                md-input-container(md-no-float)
                    md-icon search
                    input(ng-model="data.filter.search", type="text" placeholder="Search")

                md-input-container
                    label Carecell
                    md-select(ng-model="data.filter.carecells", multiple="true", ng-change="actions.onCarecellSelected()")
                        md-option(ng-value="'NO'") Tiada Carecell
                        md-option(ng-value="'ALL'") Semua Carecell
                        md-option(ng-value="carecell", ng-repeat="carecell in data.carecells", ng-show="show.carecells") {{carecell.name}}
