md-dialog(aria-label="assign sp dialog")
    form(ng-cloak)
        md-toolbar(class="topBar")
            div(class="md-toolbar-tools")
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.back()")
                    md-icon chevron_left
                h2 Pilih Carecell & SP
                div(flex)
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.done()")
                    md-icon check

        md-dialog-content
            div(class="md-dialog-content", layout="column")
                h4 Pilih Carecell & SP untuk {{data.followUp.name}}

                md-input-container
                    label Pilih Carecell
                    md-select(ng-model="data.carecell")
                        md-option(ng-value="carecell._id", ng-repeat="carecell in data.carecells") {{carecell.name}}

                md-input-container(ng-disabled="true")
                    label Pilih SP
                    md-select(ng-model="data.sp")
                        md-option(ng-value="sp._id", ng-repeat="sp in data.sps") {{sp.name}}