md-dialog(aria-label="filter dialog")
    form(ng-cloak)
        md-toolbar(class="topBar")
            div(class="md-toolbar-tools")
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.back()")
                    md-icon chevron_left
                h2 Follow Ups Filter
                div(flex)
                md-button(class="md-icon-button", aria-label="Done", ng-click="actions.done()")
                    md-icon check

        md-dialog-content
            div(class="md-dialog-content", layout="column")
                div(layout="row", layout-align="space-around center")
                    md-checkbox(ng-model="data.ftv" aria-label="FTV") FTV
                    md-checkbox(ng-model="data.decision" aria-label="Decision") Keputusan

                md-input-container(md-no-float, class="md-block")
                    md-icon search
                    input(ng-model="data.search", type="text" placeholder="Search")

                div Assign:
                md-radio-group(ng-model="data.assigned", class="md-primary", layout="row", layout-align="space-between center")
                    md-radio-button(ng-value="'true'") sudah
                    md-radio-button(ng-value="'false'") belum
