md-toolbar(md-scroll-shrink)
    div(class="md-toolbar-tools")
        md-button(class="md-icon-button", aria-label="Add")
            md-icon add
        h3
            span Follow Ups
md-content(flex, layout="column")
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello