md-toolbar(md-scroll-shrink)
    div(class="md-toolbar-tools")
        h3(flex)
            span Follow Ups
        md-button(class="md-icon-button", aria-label="Search")
            md-icon search
        md-button(class="md-icon-button", aria-label="Add")
            md-icon add

md-toolbar
    div(class="md-toolbar-tools")
        md-button(class="md-icon-button", aria-label="Date")
            md-icon date_range
        div Sunday, 30 April 2017


md-content(flex, layout="column")
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello