md-toolbar(class="topBar")
    div(class="md-toolbar-tools")
        md-button(class="md-icon-button", aria-label="back", ng-click="actions.backToFollowUps()")
            md-icon chevron_left
        h3(flex)
            span Follow Up
        md-button(class="md-icon-button", aria-label="assign", ng-click="null")
            md-icon assignment_ind
        md-menu(md-offset="0 70")
            md-button(class="md-icon-button", aria-label="more", ng-click="$mdMenu.open($event)")
                md-icon more_vert
            md-menu-content(width="4")
                md-menu-item
                    md-button hello world
md-content(flex, layout="column")
    div(class="followUp", layout="column", ng-hide="show.edit")
        div(layout="row", layout-align="start start", class="marginB30")
            div(class="insertPhoto", layout, layout-align="center center")
                md-icon person
            div(layout="column", layout-align="start start", class="marginL20", flex)
                div
                    span(ng-show="data.followUp.ftv") FTV
                    span(ng-show="data.followUp.ftv && followUp.decision")
                        =" "
                        span &
                        =" "
                    span(ng-show="data.followUp.decision") Keputusan
                div(class="marginT10") {{data.followUp.name}}
                div(class="marginT10", layout="row", layout-align="start center")
                    div
                        md-icon(class="phoneIcon") phone
                    div {{data.followUp.phone}}

        div(class="marginT10 label") Alamat:
        div {{data.followUp.address}}

        div(class="marginT10 label") Yang Membawa:
        div {{data.followUp.oikosOf}}

        div(class="marginT10 label", ng-show="data.followUp.dob") Tanggal Lahir:
        div(ng-show="data.followUp.dob") {{data.followUp.dob | date : 'dd MMM yyyy'}}

        div(class="marginT10 label") Keterangan:
        div(ng-show="data.followUp.comments") {{data.followUp.comments}}


    div(class="followUpEdit", layout="column", ng-show="show.edit")
        div(layout="row", layout-align="start center", class="marginB30")
            div Tanggal Ibadah:
            md-datepicker(class="dob", ng-model="data.followUp.serviceDate")

        div(layout="row", layout-align="start start", class="marginB30")
            div(flex)
                div(class="insertPhoto", ngf-drop, ngf-select, ng-model="file", ngf-multiple="false", ngf-allow-dir="false",
                ngf-drag-over-class="'dragover'", layout, layout-align="center center")
                    md-icon person
            div(layout="column", layout-align="start start", flex)
                md-checkbox(ng-model="data.followUp.ftv" aria-label="FTV") FTV
                md-checkbox(ng-model="data.followUp.decision" aria-label="Keputusan") Keputusan


        md-input-container(flex)
            label Nama
            input(type="text", ng-model="data.followUp.name")

        div(layout="row")
            md-input-container(flex)
                label Yang membawa (Oikos dari)
                input(type="text", ng-model="data.followUp.oikosOf")
            md-input-container(class="marginL20")
                label Carecell
                md-select(ng-model="data.followUp.carecell", class="carecellSelect")
                    md-option(value="no carecell") Tiada Carecell
                    md-option(ng-repeat="carecell in data.carecells" ng-value="carecell._id") {{carecell.name}}

        md-input-container(class="md-icon-float", flex)
            label Telepon
            md-icon phone_iphone
            input(type="tel", ng-model="data.followUp.phone")

        md-input-container(class="md-icon-float", flex)
            label Alamat
            md-icon home
            textarea(type="text", ng-model="data.followUp.address")

        div(layout="row", layout-align="start center", class="marginB30")
            div Tanggal Lahir:
            md-datepicker(class="dob", ng-model="data.followUp.dob")

        div(layout="row" class="marginB30")
            div(layout="column", flex)
                div Jenis Kelamin:
                md-radio-group(ng-model="data.followUp.gender", class="marginT10")
                    md-radio-button(value="male", class="md-primary", flex) Laki-laki
                    md-radio-button(value="female", class="md-primary", flex) Perempuan

            div(layout="column", flex)
                div Status:
                md-radio-group(ng-model="data.followUp.marritalStatus", class="marginT10")
                    md-radio-button(value="single", class="md-primary", flex) belum menikah
                    md-radio-button(value="married", class="md-primary", flex) sudah menikah


        md-input-container(class="md-block marginB30", flex)
            label Keterangan
            textarea(type="text", ng-model="data.followUp.comments")