md-toolbar(class="topBar")
    div(class="md-toolbar-tools")
        h3(flex)
            span Follow Ups
        md-button(class="md-icon-button", aria-label="Search")
            md-icon search
        md-button(class="md-icon-button", aria-label="Add", ng-click="actions.showNewFollowUp()")
            md-icon add
div
    md-progress-linear(md-mode="indeterminate", ng-disabled="!show.loading")
//md-toolbar(class="subBar")
//    div(class="md-toolbar-tools", layout="row", layout-align="space-between center")
//        div
//            md-icon(ng-click="actions.prevWeek()", class="noOutline action") chevron_left
//        div(layout="row", layout-align="start center", ng-click="actions.selectServiceDate()")
//            div
//                md-icon date_range
//            div(class="marginL10") {{actions.formatDate()}}
//        div
//            md-icon(ng-click="actions.nextWeek()", class="noOutline action") chevron_right

md-content(class="mainContent", flex, layout="column")
    section(ng-show="data.followUps.currentPage < data.followUps.lastPage")
        div(layout="column")
            md-button(class="md-primary", ng-click="actions.next()") View More

    section(ng-repeat="followUps in data.followUps.followUps")
        md-subheader(class="md-primary") {{followUps.serviceDate | date : 'EEEE, d MMM yyyy'}}
        md-list(class="followUps", flex)
            md-list-item(class="md-3-line" ng-repeat="followup in followUps.followUps" ng-click="actions.gotoFollowup(followup)")
                img(ng-src="{{followup.profileImage}}", class="md-avatar")
                div(class="md-list-item-text" layout="column")
                    h3 {{followup.name}}
                    //p
                    //    span(ng-show="followup.followedUpAt") follow up terakhir {{followup.followedUpAt | date : 'd MMM yyyy'}},
                    //    span(ng-hide="followup.followedUpAt") belum follow up
                    h4 Belum ada carecell
                    p
                        span(ng-show="followup.ftv") FTV
                        span(ng-show="followup.ftv && followup.decision")
                            =" "
                            span &
                            =" "
                        span(ng-show="followup.decision") Keputusan
                md-icon(ng-click="null") assignment_ind

    section
        div(style="height: 25px;")