md-toolbar(class="topBar")
    div(class="md-toolbar-tools")
        md-button(class="md-icon-button", aria-label="back", ng-click="actions.backToFollowUps()")
            md-icon chevron_left
        h3(flex)
            span Follow Up

md-content(flex, layout="column")
    div(class="followUp") hi