md-toolbar(class="topBar")
    div(class="md-toolbar-tools")
        h3(flex)
            span Follow Ups
        md-button(class="md-icon-button", aria-label="Search")
            md-icon search
        md-button(class="md-icon-button", aria-label="Add", ng-click="actions.showNewFollowUp()")
            md-icon add

md-toolbar(class="subBar")
    div(class="md-toolbar-tools", layout="row", layout-align="space-between center")
        div
            md-icon chevron_left
        div(layout="row", layout-align="start center")
            div
                md-icon date_range
            div(class="marginL10") Sunday, 30 April 2017
        div
            md-icon chevron_right

md-content(flex, layout="column")
    md-list(class="followUps", flex)
        md-list-item(class="md-3-line" ng-repeat="followup in data.followUps.followUps" ng-click="null")
            md-icon(class="md-avatar") person
            div(class="md-list-item-text" layout="column")
                h3 {{followup.name}}
                h4
                    i(class="fa fa-users", aria-hidden="true")
                    =" "
                    span(ng-hide="followup.carecell") -,
                    span(ng-show="followup.carecell") {{followup.carecell.name}},
                    =" "
                    span SP:
                    =" "
                    span(ng-hide="followup.sp") -
                    span(ng-show="followup.sp") {{followup.sp}}
                p
                    span Tanggal FU:
                    =" "
                    span(ng-show="followup.followedUpAt") {{followup.followedUpAt | date : 'd MMM yyyy'}},
                    span(ng-hide="followup.followedUpAt") -
