md-toolbar(md-scroll-shrink)
    div(class="md-toolbar-tools")
        h3
            span Follow Ups
        md-button(class="md-icon-button", aria-label="Search")
            md-icon search

md-content(flex, layout="column")
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello
    h1 hello