md-toolbar(class="topBar")
    div(class="md-toolbar-tools")
        md-button(class="md-icon-button", aria-label="back", ng-click="actions.backToFollowUps($event)")
            md-icon chevron_left
        h3(flex)
            span Select the service date

md-content(flex, layout="column")
    div weeks