md-bottom-sheet(layout="column")
    md-content(flex)
        form(class="ftvForm", name="ftvForm", layout="column")
            h1 Add FTV Form

            div(layout="row", layout-align="space-between center", class="marginB30")
                div Tanggal:
                md-datepicker(class="dob", ng-model="data.ftv.serviceDate")

            md-input-container(class="md-block", flex)
                label Nama
                input(type="text", ng-model="data.ftv.name")


            div(layout="row", layout-align="start center")
                md-input-container(class="md-block", flex)
                    label Oikos dari
                    input(type="text", ng-model="data.ftv.oikosOf")
                md-select(ng-model="data.ftv.carecell", class="carecellSelect md-no-underline", placeholder="Carecell")
                    md-option(value="no carecell") No Carecell
                    md-option(ng-repeat="carecell in data.carecells" ng-value="carecell._id") {{carecell.name}}

            md-input-container(class="md-block md-icon-float", flex)
                label Telepon
                md-icon phone_iphone
                input(type="tel", ng-model="data.ftv.phone")

            md-input-container(class="md-block md-icon-float", flex)
                label Alamat
                md-icon home
                textarea(type="text", ng-model="data.ftv.address")

            div(layout="row", layout-align="space-between center", class="marginB30")
                div Tanggal Lahir:
                md-datepicker(class="dob", ng-model="data.ftv.dob")

            div Jenis Kelamin:
            md-radio-group(ng-model="data.ftv.gender", layout="row", layout-align="start center", class="marginB20 marginT10")
                md-radio-button(value="male", class="md-primary", flex) Laki-laki
                md-radio-button(value="female", class="md-primary", flex) Perempuan

            div Status:
            md-radio-group(ng-model="data.ftv.status", layout="row", layout-align="start center", class="marginB20 marginT10")
                md-radio-button(value="single", class="md-primary", flex) belum menikah
                md-radio-button(value="married", class="md-primary", flex) sudah menikah


            md-input-container(class="md-block", flex)
                label Keterangan
                textarea(type="text", ng-model="data.ftv.comments")

            div(layout="row", layout-align="center center", class="marginTB30")
                div
                    md-button Cancel
                    md-button(class="md-raised md-primary", ng-click="actions.addFTV()") Save
            div