md-bottom-sheet
    md-content(flex)
        form(class="ftvForm", name="ftvForm", layout="column")
            h1 Add FTV Form

            div(layout="row", layout-align="space-between center", class="marginB30")
                div Tanggal:
                md-datepicker(class="dob", ng-model="data.ftv.serviceDate")

            md-input-container(class="md-block", flex)
                label Nama
                input(type="text", ng-model="data.ftv.name")


            div(layout="row", layout-align="start center")
                md-input-container(class="md-block", flex)
                    label Oikos dari
                    input(type="text", ng-model="data.ftv.oikosOf")
                md-select(ng-model="data.ftv.carecell", class="carecellSelect md-no-underline", placeholder="Carecell")
                    md-option(value="no carecell") No Carecell
                    md-option(ng-repeat="carecell in data.carecells" ng-value="carecell._id") {{carecell.name}}