md-toolbar(class="topBar")
    div(class="md-toolbar-tools")
        md-button(class="md-icon-button", aria-label="back", ng-click="actions.backToFollowUps($event)")
            md-icon chevron_left
        h3(flex)
            span Follow Up Baru
        md-button(class="md-icon-button", aria-label="save")
            md-icon check

md-content(flex)
    form(class="newFollowUpForm", name="ftvForm", layout="column")
        div(layout="row", layout-align="start center", class="marginB30")
            div Tanggal Ibadah
            md-datepicker(class="dob", ng-model="data.followUp.serviceDate")

        div(layout="row", layout-align="start center", class="marginB30")
            div(flex)
                div(class="insertPhoto", ngf-drop, ngf-select, ng-model="file", ngf-multiple="false", ngf-allow-dir="false",
                ngf-drag-over-class="'dragover'")
                    md-icon insert_photo
            div(layout="column", layout-align="start start", flex)
                md-checkbox(ng-model="data.followUp.ftv" aria-label="FTV") FTV
                md-checkbox(ng-model="data.followUp.decision" aria-label="Keputusan") Keputusan


        md-input-container(class="md-block", flex)
            label Nama
            input(type="text", ng-model="data.followUp.name")

        md-input-container(class="md-block md-icon-float", flex)
            label Telepon
            md-icon phone_iphone
            input(type="tel", ng-model="data.followUp.phone")

        md-input-container(class="md-block md-icon-float", flex)
            label Alamat
            md-icon home
            textarea(type="text", ng-model="data.followUp.address")

        div(layout="row", layout-align="start center")
            md-input-container(class="md-block", flex)
                label Yang membawa (Oikos dari)
                input(type="text", ng-model="data.followUp.oikosOf")
            md-select(ng-model="data.followUp.carecell", class="carecellSelect md-no-underline marginL20", placeholder="Carecell")
                md-option(value="no carecell") Tiada Carecell
                md-option(ng-repeat="carecell in data.carecells" ng-value="carecell._id") {{carecell.name}}

        div(layout="row", layout-align="start center", class="marginB30")
            div Tanggal Lahir:
            md-datepicker(class="dob", ng-model="data.followUp.dob")

        div(layout="row" class="marginB30")
            div(layout="column", flex)
                div Jenis Kelamin:
                md-radio-group(ng-model="data.followUp.gender", class="marginT10")
                    md-radio-button(value="male", class="md-primary", flex) Laki-laki
                    md-radio-button(value="female", class="md-primary", flex) Perempuan

            div(layout="column", flex)
                div Status:
                md-radio-group(ng-model="data.followUp.status", class="marginT10")
                    md-radio-button(value="single", class="md-primary", flex) belum menikah
                    md-radio-button(value="married", class="md-primary", flex) sudah menikah


        md-input-container(class="md-block", flex)
            label Keterangan
            textarea(type="text", ng-model="data.followUp.comments")