extends s_layout

block content
    form(name="ftvForm", layout="column", ng-controller="addFTVCtrl")
        md-input-container(class="md-block", flex)
            label Nama
            input(type="text")

        md-input-container(class="md-block", flex)
            label Oikos dari
            input(type="text")

        md-input-container(class="md-block", flex)
            label Carecell
            input(type="text")




block script
    script.
        var app = angular.module('TikvaApp', ['ngMaterial']);

        app.controller('addFTVCtrl', function($scope, $log, rest) {
            $log.info("Hello add FTV");

            rest.carecell.list();
        });

    script(src="/javascript/s/rest.js")