extends s_layout

block style
    link(rel='stylesheet', href='/stylesheets/s/add_ftv.css')

block content
    form(class="ftvForm", name="ftvForm", layout="column", ng-controller="addFTVCtrl")
        md-input-container(class="md-block", flex)
            label Nama
            input(type="text", ng-model="ftv.name")


        div(layout="row", layout-align="start center")
            md-input-container(class="md-block", flex)
                label Oikos dari
                input(type="text", ng-model="ftv.oikosOf")
            md-select(ng-model="ftv.carecell", class="carecellSelect md-no-underline", placeholder="Carecell")
                md-option(value="no carecell") No Carecell
                md-option(ng-repeat="carecell in data.carecells" ng-value="carecell._id") {{carecell.name}}

        md-input-container(class="md-block md-icon-float", flex)
            label Telepon
            md-icon phone_iphone
            input(type="tel", ng-model="data.ftv.phone")

        md-input-container(class="md-block md-icon-float", flex)
            label Alamat
            md-icon home
            textarea(type="text", ng-model="data.ftv.address")



block script
    script.
        var app = angular.module('TikvaApp', ['ngMaterial']);

        app.controller('addFTVCtrl', function($scope, $log, rest) {
            $log.info("Hello add FTV");

            $scope.data = {
                carecells : [],
                ftv : {}
            };

            $scope.actions = {
                listCarecells : function() {
                    rest.carecell.list(function (response) {
                        if (response.status == "Ok") {
                            $scope.data.carecells = response.data.carecells;
                        }
                    });
                }
            }

            $scope.actions.listCarecells();
        });

    script(src="/javascript/s/rest.js")