extends s_layout

block content
    form(name="ftvForm", layout="column", ng-controller="addFTVCtrl")
        md-input-container(class="md-block", flex)
            label Nama
            input(type="text", ng-model="ftvName")

        md-input-container(class="md-block", flex)
            label Oikos dari
            input(type="text", ng-model="ftvOikosOf")

        div(layout="row", layout-align="space-between center")
            span Carecell
            md-select(ng-model="ftvCarecell", class="md-no-underline", placeholder="Carecell")
                md-option(value="no carecell") No Carecell
                md-option(ng-repeat="carecell in data.carecells" ng-value="carecell._id") {{carecell.name}}





block script
    script.
        var app = angular.module('TikvaApp', ['ngMaterial']);

        app.controller('addFTVCtrl', function($scope, $log, rest) {
            $log.info("Hello add FTV");

            $scope.data = {
                carecells : []
            };

            $scope.actions = {
                listCarecells : function() {
                    rest.carecell.list(function (response) {
                        if (response.status == "Ok") {
                            $scope.data.carecells = response.data.carecells;
                        }
                    });
                }
            }

            $scope.actions.listCarecells();
        });

    script(src="/javascript/s/rest.js")