extends s_layout

block style
    link(rel='stylesheet', href='/stylesheets/s/followups.css')
    link(rel='stylesheet', href='/stylesheets/s/followup.css')

block script
    script(src="/javascript/s/ctrl_followups.js")
    script(src="/javascript/s/ctrl_followup.js")