extends s_layout

block content
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello
    h1(ng-click="toggleLeft()") hello


block script
