doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        title= title
        link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
        link(rel="stylesheet", href="/bower_components/angular-material/angular-material.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/s/style.css')
        block style

    body(ng-app="TikvaApp", ng-controller="mainController", layout="row", flex, ng-cloak)
        md-sidenav(class="md-sidenav-left", md-component-id="left", md-is-locked-open="false", md-whiteframe="4")
            div hello left
        div(flex, layout="column")
            md-content(flex, layout="column")
                block content
            md-toolbar
                div(class="md-toolbar-tools")
                    md-button(class="md-icon-button" aria-label="Follow Ups")
                        md-icon people

        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-messages/angular-messages.min.js")
        script(src="/bower_components/moment/min/moment.min.js")

        <!-- Angular Material Library -->
        script(src="/bower_components/angular-material/angular-material.js")
        script(src="/javascript/s/index.js")

        block script