doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=, maximum-scale=1")
        title= title
        link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
        link(rel="stylesheet", href="/bower_components/angular-material/angular-material.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/s/style.css')
        block style

    body(ng-app="TikvaApp" ng-cloak)
        block content

        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-messages/angular-messages.min.js")

        <!-- Angular Material Library -->
        script(src="/bower_components/angular-material/angular-material.js")

        block script