doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        title= title
        link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
        link(rel="stylesheet", href="/bower_components/angular-material/angular-material.min.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/s/style.css')
        block style

    body(ng-app="TikvaApp", ng-controller="mainController", layout="row", flex, ng-cloak)
        md-sidenav(class="md-sidenav-left", md-component-id="left", md-is-locked-open="false", md-whiteframe="4")
        div(flex, layout="column")
            md-content(flex, layout="column", ng-view)
            md-toolbar(class="mainMenu")
                div(class="md-toolbar-tools", layout="row", layout-align="space-around center")
                    md-button(class="md-icon-button" aria-label="Dashboard")
                        md-icon(ng-class="{'selected' : selectedMenu == 'dashboard'}") dashboard
                    md-button(class="md-icon-button" aria-label="Follow Ups")
                        md-icon(ng-class="{'selected' : selectedMenu == 'followups'}") people
                    md-button(class="md-icon-button" aria-label="Notifications")
                        md-icon(ng-class="{'selected' : selectedMenu == 'notifications'}") notifications
                    md-button(class="md-icon-button" aria-label="Settings")
                        md-icon(ng-class="{'selected' : selectedMenu == 'settings'}") build



        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-messages/angular-messages.min.js")
        script(src="/bower_components/moment/min/moment.min.js")
        script(src="/bower_components/angular-route/angular-route.min.js")

        <!-- Angular Material Library -->
        script(src="/bower_components/angular-material/angular-material.min.js")
        script(src="/javascript/s/index.js")
        script(src="/javascript/s/config.js")
        script(src="/javascript/s/rest.js")

        block script