.followUps .md-avatar {
    font-size: 2.5em;
}

.followUps .md-avatar.fa-female {
    color: #FC605B;
}

.newFollowUpForm {
    padding: 20px;
}

.newFollowUpForm .insertPhoto {
    background-color: #ffffff;
    border-radius: 50%;
    width: 70px; height: 70px;
    overflow: hidden;
}

.newFollowUpForm .insertPhoto div {
    background-size: cover;
    width: 70px; height: 70px;
    background-image: ;
}