.followUp {
    max-width: 500px;
}

.followUp .serviceDate {
    color: #90949c;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.followUp .profileImageWrapper {
    position: relative;
    background-color: #CEE2E8;
    width: 100%;
    padding-bottom: 75%;
}

.followUp .profileImage {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-size: contain;
    background: no-repeat center center;
}

.followUp .profileImageWrapper .detail {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    left: 0; bottom: 0; right: 0;
}

.followUp, .followUpEdit {
    flex-shrink: 0;
    padding: 25px 20px;
}

.followUp .insertPhoto, .followUpEdit .insertPhoto {
    background-color: #717171;
    border-radius: 50%;
    width: 70px; height: 70px;
    overflow: hidden;
}

.followUp .insertPhoto md-icon, .followUpEdit .insertPhoto md-icon {
    color: #ffffff;
    font-size: 3.7em;
    line-height: 50px;
    width: 50px; height: 50px;
}

.followUp .phoneIcon {
    font-size: 1.2em; width: 17px; height: 17px;
    line-height: 17px; min-height: 17px;
}

.followUp .label {
    color: #888888;
    font-style: italic;
    margin-right: 10px;
}

.followUp .field {
}