.followUp {
    background-color: #F3F3F3;
    flex-shrink: 0;
    padding: 8px;
}

.followUp .serviceDate {
    color: #90949c;
    font-size: 0.9em;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.followUp .assignment {
    margin-bottom: 10px;
    flex-shrink: 0;
    cursor: pointer;
}

.followUp .profileImageWrapper {
    position: relative;
    background-color: #CEE2E8;
    width: 100%;
    padding-bottom: 75%;
}

.followUp .profileImageWrapper .profileImage {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-size: contain;
    background: no-repeat center center;
}

.followUp .profileImageWrapper .detail {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    left: 0; bottom: 0; right: 0;
}

.followUp .userCommentInput {
    width: 100%;
    margin: 10px 0;
    flex-shrink: 0;
}

.followUp .userCommentInput .profileImage {
    width: 36px; height: 36px;
    background-size: cover;
    overflow: hidden;
}

.followUp .userCommentInput .noteInput md-input-container {
    flex-shrink: 0;
    margin: 0;
}

.followUp .userCommentInput .noteInput md-input-container label {
    display: none;
}

.followUp .userCommentInput .noteInput md-input-container  .md-errors-spacer {
    display: none;
}

.followUp .userCommentInput .entry {
    font-size: 0.95em;
}

.followUp .userCommentInput .date {
    color: #90949c;
    font-size: 0.95em;
    margin-top: 5px;
}

.followUp .insertPhoto, .followUpEdit .insertPhoto {
    background-color: #717171;
    border-radius: 50%;
    width: 70px; height: 70px;
    overflow: hidden;
}

.followUp .insertPhoto md-icon, .followUpEdit .insertPhoto md-icon {
    color: #ffffff;
    font-size: 3.7em;
    line-height: 50px;
    width: 50px; height: 50px;
}

.followUp .phoneIcon {
    font-size: 1.2em; width: 17px; height: 17px;
    line-height: 17px; min-height: 17px;
}

.followUp .label {
    color: #888888;
    font-style: italic;
    margin-right: 10px;
}

.followUp .field {
}