body {
    font: 14px "Lato", Helvetica, Arial, sans-serif;
}

md-toolbar.mainMenu {
    background-color: #fafafa;
    border-top: 1px solid #F1F1F1;
}

md-toolbar.mainMenu, md-toolbar.mainMenu .md-toolbar-tools {
    height: 50px;
    min-height: 50px;
}

md-toolbar.mainMenu md-icon { color : #CAD1D9; }

md-toolbar.mainMenu md-icon.selected { color : #00B7FF; }

md-toolbar.topBar {
    background-color: #449FD7;
}

md-toolbar.subBar {
    background-color: #E6E6E6;
}

md-toolbar.subBar, md-toolbar.subBar .md-toolbar-tools {
    color : #6E6E6E;
    font-size: 0.9em;
    height: 32px;
    min-height: 32px;
}

md-toolbar.subBar, md-toolbar.subBar .md-toolbar-tools md-icon {
    color : #6E6E6E;
}

.marginB20 { margin-bottom: 20px; }
.marginB30 { margin-bottom: 30px; }
.marginL10 { margin-left: 10px; }
.marginL20 { margin-left: 20px; }
.marginT10 { margin-top: 10px; }
.marginT30 { margin-top: 30px; }
.marginTB20 { margin: 20px 0; }
.marginTB30 { margin: 30px 0; }